extends ../layout

block content
    h3 Editar Curso

    form(action=`/administrativo/curso/update/${curso._id}`, method="POST")
        
        .form-group
            label(for="alumnoID") ID de Alumno:
            input.form-control(type="number" name="alumnoID" value=curso.alumno._id required readonly=true)
        .form-group
            label(for="nombre") Nombre:
            input.form-control(type="text" name="nombre" value=curso.alumno.nombre required readonly= true)
        .form-group
            label(for="apellido") Apellido:
            input.form-control(type="text" name="apellido" value=curso.alumno.apellido required  readonly=true)
        .form-group
            label(for="materia") Curso:
            select.form-control(name="materia" id="materia" required)
                each materia in materias
                    option(value=materia.nombre selected=(materia.nombre === curso.materia)) #{materia.nombre}
        .form-group
            label(for="profesor") Profesor:
            select.form-control(name="profesor" id="profesor" required)
                each profesor in profesores
                    option(value=`${profesor.apellido}, ${profesor.nombre}` selected=(curso.profesor === `${profesor.apellido}, ${profesor.nombre}`)) #{profesor.apellido}, #{profesor.nombre}
        button#guardar.btn.btn-success(type="submit") Actualizar

    if success
        .alert.alert-success(role="alert")
            | #{success}.
        p.small.text-muted.mt-3
            | Redirigiendo en 
            span#cuenta-regresiva 2
            |  segundos...            

        script.
            var countdownElement = document.getElementById('cuenta-regresiva');
            var secondsRemaining = 2;
            const usuario = !{JSON.stringify(usuario)};
            console.log("Datos recibidos:", usuario);
            function updateCountdown() {
                if (secondsRemaining > 0) {
                    countdownElement.textContent = secondsRemaining;
                    secondsRemaining--;
                } else {
                    window.location.href = `/administrativo/cursos`;
                }
            }

            document.addEventListener('DOMContentLoaded', function() {
                document.getElementById('guardar').disabled = true;
                const volver = document.getElementById('volver');
                volver.classList.add('disabled');
                volver.addEventListener('click', function(event) {
                    event.preventDefault();
                });
                setInterval(updateCountdown, 1000);
            });
    if error
        .alert.alert-danger(role="alert")
            | #{error}

    a#volver.btn.btn-secondary.mt-3(href=`/administrativo/cursos`) Volver a la lista